@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif 
}

body {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
    background: url(../images/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none
}

.reviews {
    max-height: 600px;
    overflow-y: auto;
    width: 550px;
    padding: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0 0 50px rgba(119, 0, 255, 0.5);
    border: 2px solid rgba(111, 0, 255, 0.7);
    backdrop-filter: blur(20px)
}

.reviews::-webkit-scrollbar {
    width: 0;
    background: transparent
}

.reviews {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.review {    
    cursor: pointer;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0 0 50px rgba(119, 0, 255, 0.5);
    border: 2px solid rgba(111, 0, 255, 0.7);
    backdrop-filter: blur(20px);
    padding: 17px;
    text-align: center;
    margin: 10px;
    animation: fadeIn 1s;
    transition: box-shadow .25s, transform .2s
}

.review:hover {
    box-shadow: 0 0 50px rgba(119, 0, 255, 0.8);
    transform: scale(1.01)
}

.name-container {
    display: flex;
    align-items: center
}

.separator {
    height: 2px;
    box-shadow: 0 0 50px rgba(119, 0, 255, 0.5);
    background: rgba(111, 0, 255, 0.7);
    margin: 10px 0;
    width: 100%
}

.review .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(119, 0, 255, 0.5);
    border: 2px solid rgba(111, 0, 255, 0.7);
    margin-right: 10px
}

.review .name {
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
    margin-left: 9px;
    transition: text-decoration .25s, text-shadow .25s
}

.review .name:hover {
    text-shadow: 0 0 30px rgba(119, 0, 255);
    text-decoration: underline
}

.review .date {
    color: rgb(196, 196, 196);
    position: absolute;
    right: 35px
}

.review .text {
    margin-top: 20px
}

.back {
    position: absolute;
    outline: none;
    cursor: pointer;
    margin-top: 750px;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    background: transparent;
    box-shadow: 0 0 50px rgba(119, 0, 255, 0.5);
    border: 2px solid rgba(111, 0, 255, 0.7);
    backdrop-filter: blur(20px);
    animation: fadeIn 1s;
    transition: transform .25s, box-shadow .25s
}

.back:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px rgba(119, 0, 255)    
}

.where {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    animation: fadeIn 1s
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
